@font-face {
  font-family: 'number';
  src: url(./number.ttf);
}

.number {
  font-family: number;
}

@font-face {
  font-family: 'japan_l';
  src: url(./Koruri-Light.ttf);
}

.japanese_L {
  font-family: japan_l;
}

@font-face {
  font-family: 'japan_b';
  src: url(./Koruri-Bold.ttf);
}

.japanese_B {
  font-family: japan_b;
}

.defaultButton {
  background-color: "#E6E6E6";
  box-shadow: "none"
}

.plessButton {
  background-color: "#65FFA062";
  box-shadow: "inset 0px 3px 6px #00000029";
}

html {
  background: #F4F4F4 0% 0% no-repeat padding-box;
}